$color-primary-light: #82dcf1;
$color-primary: #0cb4e4;
$color-primary-dark: #095d74;

$color-secondary-light: #33cc33;
$color-secondary: #00cc33;
$color-secondary-dark: #339900;

$color-tertiary-light: #cc1444;
$color-tertiary: #7b0b2b;
$color-tertiary-dark: #703737;

$color-white: #fff;
$color-white-1: #efffff;
$color-white-2: #efefef;
$color-black: #000;

$color-gray-1: #e8e8e8;
$color-gray-2: #d0d0d0;
$color-gray-3: #b8b8b8;
$color-gray-4: #a0a0a0;
